<div class="row">
    <div class="col-lg-offset-4 col-lg-4 signup-form">
        <div class="signup-header text-center row">
            <i class="fa fa-chevron-left charvon_left"></i>
            <div class="signup-header-cont">

                <span class="logo"></span>
                <h2>I want to Signup</h2>
            </div>
        </div>
        <p>Just enter the following details and we'll call you back within 24 hours</p>
        <form class="ng-pristine ng-valid">
            <div class="form-group col-lg-12">
                <label for="name">Name:</label>
                <input class="form-control" id="name" placeholder="Enter Name" type="text">
            </div>
            <div class="form-group col-lg-12">
                <label for="agencyname">Agency Name:</label>
                <input class="form-control" id="agencyname" placeholder="Agency Name" type="text">
            </div>
            <div class="">
            <div class="form-group col-lg-8">
                <label for="phonenumber">Phone Number:</label>
                <input class="form-control" id="phonenumber" placeholder="Phone Number" type="number">
            </div>
            <div class="form-group col-lg-4">
                <label for="exampleInputFile">Zip</label>
                <input id="zip" class="form-control" name="zip" type="number">
            </div></div>
            <p class="clearfix"/>
            <div class="row button-section">
             
                <button class="btn btn-submit col-lg-12 pull-right" type="submit">Done</button>
            </div>
        </form>
        <div class="text-center">
            <span class=" footer-section">Or,simply call us at <br />432-567-9810</span>
        </div>
    </div>
</div>
