<h2 class="row view-h2">Dashboard</h2>
<div class="row">
    <div class="left-grid col-lg-8">
        <div class="row tab-cont">
            <div class="col-lg-4 quotes-tab"><b>14</b>
                <br>
                <div class="fa-file-icon"><i class="fa fa-files-o pull-left"></i>
                    <p class="text-center">New Quotes</p>
                </div>
            </div>
            <div class="col-lg-4 application-tab"><b>23</b>
                <br>
                <div class="fa-file-icon"><i class="fa fa-files-o pull-left"></i>
                    <p class="text-center">Application Denied</p>
                </div>
            </div>
            <div class="col-lg-4 incomplete-tab"><b>14</b>
                <br>
                <div class="fa-file-icon"><i class="fa fa-files-o pull-left"></i>
                    <p class="text-center">Incomplete Application</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="pull-left">All Quotes</h3>
            <div class="pull-right">
                <i class="fa fa-search" aria-hidden="true"></i>
                <i class="fa fa-filter" aria-hidden="true"></i>
            </div>
        </div>
       <!--  <div class="row">
           <div id="grid1" ui-grid="gridOptions" class="grid"></div>
        </div> -->
    </div>
    <div class="right-grid col-lg-4">
        Right
    </div>
</div>